@import url('employees/employees_grid.css');
@import url('employees/employees_list.css');

#employees {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 25px;
	letter-spacing: 2px;
}
