#employees.grid ul {
	list-style: none;
	text-align: left;
	border: 1px solid #eee;
	padding: 10px 0;
}
#employees.grid ul li {
	display: inline;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 10px;
	vertical-align: middle;
}
#employees.grid ul li a {
	text-decoration: none;
	color: #eee;
}
#employees.grid ul li a:hover {
	text-decoration: underline;
}