#employees.grid .employee {
	text-align: left;
	margin-bottom: 3px;
	width: 1250px;
	height: 125px;
}
#employees.grid .employee div {
	display: inline-block;
	vertical-align: middle;
	border: 3px solid #eee;
	min-height: 120px;
	min-width: 120px;
	padding: 0px;
	margin: 0px;
	line-height: 120px;
}
#employees.grid .employee div a {
	text-decoration: none;
	color: #eee;
}
#employees.grid .employee div a:hover {
	text-decoration: underline;
}
#employees.grid .title {
	min-width: 120px;
	display:inline-block;
	border: 3px solid #eee;
}

