#employees.grid .employee {
	width: 1250px;
	height: 125px;
}
#employees.grid .employee div {
	display: inline-block;
	vertical-align: middle;
	border: 3px solid #eee;
	min-height: 120px;
	min-width: 175px;
	line-height: 120px;
	margin: -4px;
	overflow: hidden;
}

#employees.grid .title {
	min-width: 175px;
	display:inline-block;
	border: 3px solid #eee;
	margin: -4px;
}

