#employees.list .title {
	display:none;
}
#employees.list .employee {
	height: 120px;
}
#employees.list .details {
}

#employees.list .avatar {
	float: left;
}

#employees.list .details {
}

#employees.list .details div {
	display: block;
	overflow: hidden;
}

